<?xml version="1.0"?>
<robot name="my_arm" xmlns:xacro="http://ros.org/wiki/xacro">
  <include filename="$(find dynamixel_arm)/urdf/ax-12a.urdf.xacro"/>
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>


  <link name="arm_base">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://dynamixel_arm/urdf/meshes/F3.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://dynamixel_arm/urdf/meshes/F3.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
   <inertia>
     <mass value="0.0546"/>
     <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
   </inertia>
  </link>
  <xacro:ax12a prefix="pan" parent_link="arm_base"/>
</robot>
